
    body {
      background-color: wheat;
      perspective: 1000px;
    }
    
    h1 {
      font-size: 48px;
      text-align: center;
      color: brown;
      transform-style: preserve-3d;
      transition: all 2s ease-in-out;
    }

    h1:hover {
      transform: rotateX(360deg) scale(2,2);
      color: black;
    }

    .controll {
      text-align: center;
    }

    .brick {
      position: absolute;
      top:0;
      left:0;
      width:80px;
      height: 50px;
      padding: 5px;
      background-color: dodgerblue;
      color: white;
      font-size: 24px;
      text-align: center;
      transform-style: preserve-3d;
      transition: all 2s ease-in-out;
    }

    .brick:hover {
      transform:  translate(0px,70px) rotateX(-180deg);
      background-color: black;
    }

    .off {
      animation-duration: 3s; 
      animation-name: hit-brik; 
      animation-fill-mode: forwards;
    }

    @keyframes hit-brik {
      0% {
        transform: scale(1,1);
      }
      33% {
        transform: scale(1.2, 1.2);
      }
      66% {
        transform: scale(0.5,0.5);
      }
      100% {
        transform: scale(0,0);
      }
    }
    
    .message {
      position: absolute;
      top: 40%;
      left: 20%;
      color: white;
      font-size: 64px;
      text-align: center;
    }

    #start {
      font-size: 30px;
      background-color: tomato;
      color: white;
      padding: 15px;
      border: none;
      outline: none;
      border-radius: 20px;
    }

    #container {
      height: 500px;
      width: 80%;
      margin-left: 10%;
      border: 1px solid black;
      background-color: black;
      position: relative;
    }

    #paddle {
      height: 10px;
      width: 80px;
      border: 1px solid white;
      background-color: white;
      border-radius: 10px;

      position: absolute;
      left: 50%;
      bottom: 30px;
    }

    #ball {
      height: 10px;
      width: 10px;
      border-radius: 10px;
      border: 1px solid white;
      background-color: white;

      position: absolute;
      left: 50%;
      bottom: 50%;
    }
