    h1 {
      font-size: 48px;
      text-align: center;
    }

    #container {
      height: 500px;
      width: 80%;
      margin-left: 10%;
      background-color: black;
    }
    
    #ball {
      height: 50px;
      width: 50px;
      background-color: white;
    }
