    h1 {
      font-size: 48px;
      text-align: center;
    }

    #container {
      height: 500px;
      width: 80%;
      margin-left: 10%;
      background-color: black;
      position: relative;
    }
    
    #ball {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: white;

      position: absolute;
      left: 50%;
      bottom: 50%;
    }
