
    body {
      background-color: wheat;
      perspective: 1000px;
    }
    
    h1 {
      font-size: 48px;
      text-align: center;
      color: brown;
      transform-style: preserve-3d;
      transition: all 2s ease-in-out;
    }

    .controll {
      text-align: center;
    }

    #start {
      font-size: 30px;
      background-color: tomato;
      color: white;
      padding: 15px;
      border: none;
      outline: none;
      border-radius: 20px;
    }

    #canvas {
      border: 1px solid black;
      background-color: black;
    }

