body {
  background-color: lightblue;
}

h1 {
  font-size: 36px;
  color: brown;
}

.center {
  text-align: center;
}

#start {
  padding: 15px;
  outline: none;
  border-radius: 20px;
}

#canvas {
  background-color: black;
}

